# Locale
d-i debian-installer/locale string en_US.UTF-8

# Keyboard layout
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us

# Mirror setup
d-i mirror/country string enter information manually
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string
d-i mirror/suite string kali-rolling
d-i mirror/codename string kali-rolling

# Timezone
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin

# Disable security, volatile and backports
d-i apt-setup/services-select multiselect 

# Don't scan for additional installation media
d-i apt-setup/cdrom/set-first boolean false

# Enable contrib and non-free
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Disable source repositories too
d-i apt-setup/enable-source-repositories boolean false

# Partitioning
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/disk string /dev/sda
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-partitioning/confirm_write_new_label boolean true

# Disable CDROM entries after install
d-i apt-setup/disable-cdrom-entries boolean true

# Install metapackages and desktop environment
# desktop, desktop-xfce, desktop-gnome, desktop-kde, desktop-lxde, desktop-cinnamon, desktop-mate, desktop-lxqt, meta, meta-top10, meta-default, meta-large
tasksel tasksel/first multiselect desktop-xfce

# Upgrade installed packages
d-i pkgsel/upgrade select full-upgrade

# Install essential tools & libraries
d-i pkgsel/include string autogen automake apache2 build-essential cifs-utils curl dkms eog exploitdb flameshot gcc-multilib gcc-mingw-w64-x86-64-win32 gdb gimp git gnupg gparted htop openjdk-11-jdk openjdk-11-jre openjdk-11-dbg openjdk-11-doc libffi-dev libguestfs-tools libmpc-dev libssl-dev linux-headers-amd64 manpages-dev manpages-posix-dev masscan mlocate nano nasm nmap openssl proxychains python2 python2-dev python3.9-dev python3-argcomplete python3-dev python3-distutils python3-setuptools python3-venv python-setuptools rdesktop seclists socat sqlite3 sqlitebrowser tmux vim wget whatweb wireshark xclip xpdf xxd freerdp2-x11

# Install additional tools
d-i pkgsel/include string amass binwalk bloodhound burpsuite cewl crackmapexec crunch dnsenum dnsrecon dos2unix enum4linux exe2hexbat exiftool ffuf ghex ghidra gpp-decrypt hashcat hashcat-utils hydra john laudanum macchanger maltego maltego-teeth metasploit-framework mimikatz nbtscan netdiscover ngrep nikto onesixtyone oscanner passing-the-hash powershell-empire recon-ng responder samdump2 smbclient smbmap smtp-user-enum snmpcheck sqlmap ssldump sslscan sslsplit sslyze starkiller steghide thc-ipv6 webshells windows-binaries winexe wkhtmltopdf wordlists wpscan

# Change default hostname and domain
d-i netcfg/get_hostname string kali
d-i netcfg/get_domain string bufu-sec.local

# Configure network adapter
# d-i netcfg/choose_interface select auto
d-i netcfg/choose_interface select eth0
d-i netcfg/dhcp_timeout string 60

d-i hw-detect/load_firmware boolean false

# Do not create a normal user account
d-i passwd/make-user boolean false
d-i passwd/root-password password toor
d-i passwd/root-password-again password toor

d-i apt-setup/use_mirror boolean true
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string /dev/sda
d-i finish-install/reboot_in_progress note

# Disable popularity-contest
popularity-contest popularity-contest/participate boolean false

kismet kismet/install-setuid boolean false
kismet kismet/install-users string

sslh sslh/inetd_or_standalone select standalone

mysql-server-5.5 mysql-server/root_password_again password
mysql-server-5.5 mysql-server/root_password password
mysql-server-5.5 mysql-server/error_setting_password error
mysql-server-5.5 mysql-server-5.5/postrm_remove_databases boolean false
mysql-server-5.5 mysql-server-5.5/start_on_boot boolean true
mysql-server-5.5 mysql-server-5.5/nis_warning note
mysql-server-5.5 mysql-server-5.5/really_downgrade boolean false
mysql-server-5.5 mysql-server/password_mismatch error
mysql-server-5.5 mysql-server/no_upgrade_when_using_ndb error

wireshark-common wireshark-common/install-setuid boolean false

macchanger macchanger/automatically_run boolean false

d-i preseed/late_command string \
    in-target wget http://172.16.1.2/postseed.sh; \
    in-target /bin/bash -x chmod 755 ./postseed.sh; \
    in-target /bin/bash -x ./postseed.sh;
